.is-transparent {
	background: transparent;
}

.is-image-background {
    background-image: url(../../../assets/images/hero-image.jpeg);
    background-size: cover;
    background-position: bottom center;
}

.is-image-background::before {
	content: "";
	height: 100vh;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.7); 
}

.has-text-white a,
.has-text-white p,
.has-text-white strong,
.has-text-white label,
.has-text-white h1,
.has-text-white h2 {
	color: #fff;
}

.has-text-white a:hover {
	color: #999;
}

.has-text-centered .image {
	margin: 0 auto;
}

.has-gap-title-bottom .title {
	margin-bottom: 1rem;
}

.has-gap-title-top .title {
	margin-top: 1rem;
}

.social-media-icon i {
	margin: 0 0.25rem;
}

.no-gap-subtitle .subtitle{
	margin: 0.75rem 0;
}

.with-border .column {
    background: #fff;
    padding: 2rem;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.with-border .column:hover {
    box-shadow: 1px 1px 16px 1px rgba(114, 114, 114,0.2);
    transform: scale(1.01);
}

/* hero */
.hero .title { font-size: 4rem;}
.hero .subtitle { font-size: 2rem; }
.hero .button { 
	text-transform: uppercase;
}

.hero .nav {
	box-shadow: none;
}

.is-background-dark {
	background-color: #2E2C2D;
}

.is-background-white {
	background-color: #fff;
}

.is-background-white a{
	color: #000;
}

iframe {
	width: 100%;
}
