html {
	background-color: #fcfcfc;
}

img {
	transform: scale(1.02);
	transition: 0.3s ease-in-out;
}

figure.image {
	overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

img:hover {
	transform: scale(1.0);
}

.title {
	margin-bottom: 0.5rem !important;
}

.card {
	border-radius: 5px;
}